<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>메인 페이지</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/bootstrap-3.3.2/css/bootstrap.css" rel="stylesheet">
        <link href="/css/board.css" rel="stylesheet">
    </head>
    <body>
        <div class="page-content container note-has-grid">
            <div class="tab-content bg-transparent">
                <div id="note-full-container" class="note-has-grid row"  >
                    <div class="col-md-4 single-note-item all-category" style=""
                         th:each="board : ${boardList}"
                         th:classappend="${(board.color eq 'Red' ? 'col-md-4 single-note-item all-category note-important' : '') +
                         (board.color eq 'Green' ? 'col-md-4 single-note-item all-category note-business' : '') +
                         (board.color eq 'Gray' ? 'col-md-4 single-note-item all-category' : '') +
                         (board.color eq 'Blue' ? 'col-md-4 single-note-item all-category note-social' : '')}">

                        <div class="card card-body" >
                            <span class="side-stick"></span>
                            <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Book a Ticket for Movie" th:text="${board.title}"><i class="point fa fa-circle ml-1 font-10"></i></h5>
                            <p class="note-date font-12 text-muted" th:text="${board.regtime}"></p>
                            <div class="note-content">
                                <p class="note-inner-content text-muted" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis." th:text="${board.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>