<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="id" class="form-control" placeholder="ID" required autofocus>
                            <label for="id">ID</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="pw" class="form-control" placeholder="Password" required>
                            <label for="pw">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const write_button = document.getElementById("submit");
    write_button.addEventListener("click", () => {
        // 데이터 json으로 가공해서 보내기
        let form_date = {
            id: document.getElementById("id").value,
            pw: document.getElementById("pw").value
        }
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/login_submit", true);
        // GET은 주소 뒤에 POST는 헤더를 통해서 보내네
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        xhr.send(JSON.stringify(form_date));
        console.log(JSON.stringify(form_date));
        xhr.onload = () => {
            if(xhr.status == 200){
                if(xhr.response == "success") {
                    alert("success");
                    location.replace("/list");
                }else{
                    alert("failed!");
                }
            }else{
                alert("load failed!");
            }
        }
    });
</script>
</html>
